:root {
  --purple: #3e0249;
}
body {
  margin: 0;
  padding: 0;
  color: var(--purple);
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  /* padding: 40px; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #e78af7; */
}

#gameboard {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: var(--purple);
  /* background-color: #e78af7; */
}

.box:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
  border-color: var(--purple);
  font-size: 18px;
  transition: 200ms transform;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* ul li {
  font-size: 54px;
  text-transform: uppercase;
  display: inline-block;
} */

nav ul li{
  display: inline-block;
  background-color: rgb(134, 132, 132);
  width: 300px;
  justify-content: center;
}